<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express app</title>
</head>
<body>
    <h1>Welcome to new Express App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quos corporis optio aperiam laborum voluptatem esse fugit. Neque tempora sit incidunt quidem optio beatae doloremque tenetur ullam iure ea, autem labore ut vitae fugiat placeat quod debitis! Eius facere ex, unde eligendi ullam earum vero quasi totam, optio, adipisci minus.</p>
</body>
</html>